body{
   background-image: url("./src/underwater-scene-with-sleek-submarine-gliding-through-vibrant-ocean-waters-surrounded-by-diverse-marine-life-illuminated-by-sunlight-rays_95891-30527.avif");
    background-size: cover;
    background-repeat: no-repeat;
}
*{
   background-position: center;
   color: aliceblue;
   list-style: none;
   margin: 0;
}
section, header, div{ width: 90%; }
section, header div, main img{ outline: solid 2px aliceblue; }
section, div{
    padding: 0.5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}
section{
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    background-color: darkslateblue;
    margin: 5%;
}
      header{
        justify-content: center;
        div{
            margin: 3% 10%;
            background-color: darkblue;
            h1{
               font-size: larger;
               font-family: "Holtwood One SC", serif;
               margin-left: 1cm;
          }
       }
       ul{
            font-size: large;
            font-family: "Cinzel Decorative", serif;
            margin-left: 8%;
       }
      }
      main{
     img{ width: 20%; }
     h1{
        font-size: larger;
        font-family: "Anton", sans-serif;
   }
     div{
        margin: 0.1%;
        padding: 0.5%;
        align-items: center;
   }
   p{
    font-size: medium;
    font-family: 'TRIAL Oceanic', sans-serif;
    overflow-wrap: break-word;
    margin: 3%;
   }
 }
header, main div{ align-items: center; }
a{
   color: red;
   text-decoration: none;
}
a:hover{color: orange;}
header div img{
   position: absolute;
   top: 15%;
   left: 65%;
}
@media screen and (max-width: 850px){header div img{display: none;}}
@media screen and (max-height: 1475px){header div img{top: 7%;}}
@media screen and (max-width: 500px){
    section{ width: 100%; }
    div{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
